.resumePage {
  display: flex;
  flex-direction: column;
  justify-content: row;
  a {
    display: inline-flex;
    width: 30%;
    flex-direction: column;
  }
  h1 {
    color: aliceblue;
    font-size: 22pt;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 0.4%;
  }
  span {
    background-image: linear-gradient(black, rgb(98, 56, 56));
    border-radius: 1em;
    padding: 1%;
  }
  .resPic {
    margin: 5%;
  }
}

.resumeFooter {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(black, rgb(98, 56, 56));
  border-radius: 1em;
  text-align: center;
  font-size: 19pt;

  li {
    list-style: none;
  }
}
