label {
  
  font-size: 33pt;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;

  background-image: linear-gradient(aliceblue, rgb(98, 56, 56));
  border-radius: 1em;
  padding: 2%;

  input {
    
    border-radius: 1em;
    margin: 2%;
    background-color: antiquewhite;
  }
  .contact-list {
    
    text-align: center;
    list-style: none;
  }
  li {
    font-size: 15pt;
  }

  button {
    width: 28vw;
    border-radius: 1em;
    margin: 0;
    text-align: center;
    
  }
}

.contact h1 {
  margin: 2%;

  display: flex;
  justify-content: center;

  
  span {
    background-color: aliceblue;
    border-radius: 2em;
    padding: 1%;
  }
}

@media only screen and (max-width: 600px) {
  .inputs {
    margin: 5%;
    max-width: 85%;
    justify-content: space-evenly;
   
    input {
      font-size: 24pt;
      max-width: 77%;
      
    }
    label {
      font-size: 24pt;
    }
    .contact-list {
      text-align: left;
    }
  }
}
