label {
  color: aliceblue;
  font-size: 33pt;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;

  background-image: linear-gradient(black, rgb(98, 56, 56));
  border-radius: 1em;
  padding: 2%;

  input {
    margin: 2%;
  }
  .contact-list {
    color: aliceblue;
    text-align: center;
    list-style: none;
  }
}

.contact h1 {
  margin: 2%;

  display: flex;
  justify-content: center;
  margin-left: 7%;
  color: aliceblue;
  span {
    background-color: black;
    border-radius: 2em;
    padding: 1%;
  }
}

@media only screen and (max-width: 600px) {
  .inputs {
    margin: 5%;
    max-width: 85%;
    justify-content: center;
    input {
      font-size: 24pt;
      max-width: 77%;
    }
    label {
      font-size: 24pt;
    }
  }
}
