.project-grid {
  margin-top: 2%;

  h1 {
    font-size: 24pt;
    

    text-align: center;
    
    span {
      background-image: linear-gradient(aliceblue, rgb(98, 56, 56));
      border-radius: 1em;
      padding: .5rem;
    }
  }
  p {
    background-image: linear-gradient(aliceblue, rgb(98, 56, 56));
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 1em;
    font-size: 15pt;
    padding: .5rem;
    
  }

  img {
    margin: 10%;
    margin-left: 10%;
    min-width: 25vw;

    &:hover {
      transform: scale(1.75);
    }
  }

  .resume {
   
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(aliceblue, rgb(98, 56, 56));
  
    margin: 7vh;
    font-size: 24pt;
    border-radius: 1em;
    padding: .5rem;

  }
}

@media only screen and (max-width: 600px) {
  .project-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
