.project-grid {
  margin-top: 2%;

  h1 {
    font-size: 24pt;

    text-align: center;
    color: aliceblue;
    span {
      background-image: linear-gradient(black, rgb(98, 56, 56));
      border-radius: 1em;
    }
  }
  p {
    background-color: salmon;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  img {
    margin: 10%;
    margin-left: 10%;

    &:hover {
      transform: scale(1.75);
    }
  }
}

@media only screen and (max-width: 600px) {
  .project-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
