body {
  background-image: url('https://images.unsplash.com/photo-1520699670403-1358620dc42e?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070');
}
.about-text {
  display: flex;
  flex-direction: column;
  p {
    align-self: center;
    // text-indent: 3%;
    line-height: 2;
    padding: 2%;
    font-size: 15pt;
  }

  h1 {
    margin-top: 2%;

    color: aliceblue;
    text-align: center;
    font-size: 24pt;
    span {
      background-image: linear-gradient(rgb(32, 30, 30), rgb(98, 56, 56));
      border-radius: 1em;
    }
  }
  p {
    background-color: aliceblue;
    opacity: 99%;
    border-radius: 1em;
    padding: 1%;
    margin: 1%;
    flex-wrap: wrap;
    display: flex;
    text-align: center;
  }
}

.img-folder {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.img-folder img:hover {
  box-shadow: 10px 5px 5px rgb(193, 210, 4);
  transform: rotate(-18deg);
}

@media only screen and (max-width: 600px) {
  .about-text {
    margin: 3%;
  }
  .img-folder {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
